[Unit]
Description=Prometheus SNMP exporter
After=network.target

[Service]
Type=simple
User=prober
ExecStart=/opt/snmpexporter/snmpexporterd.py --config /etc/snmpexporter/snmpexporter.yaml

[Install]
WantedBy=multi-user.target
